*{ /* asterisco vai para todos os elementos*/
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*sempre q usar altura e largura, a caixa vai sempre contar o tamanho pela borad se ajustar, calculo do tamanho da caixa*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html{
    height: 100%;
    width: 100%;
  }

body {
    background-color: #222224;
    text-align: justify
}

h2,h3 {
    margin-bottom: 15px;
}
.centralizar {
    width: 100%;
    height: 100%;
    margin: auto;
}

nav {
    display: flex; 
    justify-content: space-around;
    flex-direction: row;
    align-items:center;
    background-color: #dc304d;
    box-sizing:border-box;
    padding: 20px;
    min-height: 8vh; /* aaaaaaaaa e isso*/
}

.nav-list {
    margin-left: 50px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 32px;

}

.nav-list li {
    letter-spacing: 3px;
}

#logo-nav {
    height: 80px;
    width: 115px;
    display: flex;
}
nav a{
    text-decoration: none;
    color: #fff;
}

a {
    transition: 0.3s;
    font-size: 20px;
}

a:hover {
    opacity: 0.7;
}

.container {
    height: flex; /* altura de 100 da pag*/
    margin: auto;
    width: 1000px;
    background-color: #f0f0f0;
    padding: 80px;
    max-width: 1000px;
    overflow: hidden;
    box-sizing:border-box;
}

h1,h2 {
    margin-bottom: 15px;
    margin-top: 20px;
}

p {
    margin-top: 10px;
    font-size: 20px;
}

.frutas {
    margin-top: 20px;
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin-bottom: 50px;
}

.frutas {
    padding-left: 35px;
}

.frutas p {
    text-indent: 20px;
}

.img-fruta {
    height:100%;
    width: 100%;
    margin-bottom: 20px;
}


.potion p {
    text-indent: 30px;
}

.p-potion {
    padding-bottom: 105px;
}

.potions {
    margin-left: 60px;
}

.potion {
    max-height: 500px;
    font-size: 15px;
    justify-content: space-around;
    display: flex;
    margin-right: 30px;
    margin-left: 30px;
    flex-direction: row;
}

.potion img {
    border-radius: 70px;
    border: #d4b8b8 solid 3px;
    margin-bottom: 50px;
}

.utilities {
    padding-left: 35px;
}

.utilities p {
    text-indent: 20px;
}


.utilitario img {
    height: 100px;
    border-radius: 70px;
    border: #d4b8b8 solid 3px;
    margin-left: 50px;
    margin-right: 80px  ;
}

.upgrades {
    padding-left: 35px;
}

.upgrades p {
    text-indent: 20px;
}


footer .baixar {
    display: flex; 
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    background-color: #dc304d;
    box-sizing:border-box;
    padding: 20px;
    min-height: 20vh; /* aaaaaaaaa e isso*/
    color: white;
}

.foot-list {
    margin-left: 0px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 10px;

}

#logo-app-footer {
    height: 50px;
    width:50px;
    display: flex;
    border-radius: 20px;
}

.download {
    gap: 20px;
    margin-left: 30px;
}

.right {
    margin-left: 80px;
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items:center;
}

footer a {
    border-radius: 20px;
}

.teamys {
    font-size: 18px;
    color: #222224;
}